<h1>All Posts</h1>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Files</th>
      <th>Title</th>
      <th>Status</th>
      <th>Allow Comments</th>
      <th>Date</th>
      <th>Update Action</th>
      <th>Delete Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>{{_id}}</td>
        <td><img src="/uploads/{{file}}" alt="abc" height="50" class="img-responsive"></td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{allowComments}}</td>
        <td>{{generateDate date 'MMMM Do YYYY'}}</td>
        <td><a
            href="/admin/posts/edit/{{_id}}"
            class="btn btn-info"
          >EDIT</a></td>
        <td>
          <form action="/admin/posts/{{_id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">DELETE</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>